@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Urbanist-SemiBold.woff2') format('woff2');
}

.chat {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  width: 400px;
  height: 250px;
  outline: 0.2rem solid #03081d50;
  border-radius: 2rem;
  pointer-events: none;
  overflow: hidden;
  font-family: 'Urbanist', sans-serif;
}

.chat .message-bar {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  width: calc(100% - 1rem);
  height: 3rem;
  background: #03081d50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10000rem;
  align-items: center;
  padding: 0 1rem;
  backdrop-filter: blur(15px);
}

.chat * {
  pointer-events: auto;
}

.chat .message {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 0 1rem;
  height: 3rem;
  backdrop-filter: blur(15px);
  border-radius: 10000rem;
  margin: 0.5rem 0.5rem;
  background-color: #03081d50;
}

.chat .message .message-avatar {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  margin: 0 0.5rem;
}

.chat .message .message-avatar img {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#game {
  overflow: hidden;
  cursor: none;
  margin: 0;
  padding: 0;
}

html,
:root,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  /* 0f1130 to 553f90, top to bottom */
  background: linear-gradient(180deg, #0f1130 0%, #553f90 180%);
  animation: bg 30s ease-in-out infinite;
  background-size: 100% 100%;
}

@keyframes bg {

  /* stretch the background to the bottom */
  0% {
    background-size: 100% 100%;
  }

  /* stretch the background to the top */
  50% {
    background-size: 100% 200%;
  }

  /* stretch the background to the bottom */
  100% {
    background-size: 100% 100%;
  }
}

.toolbar {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  background: #03081dc0;
  color: #ffffff50;
  font-family: sans-serif;
  font-size: 1.2em;
  padding: 0 0.7em;
  z-index: 100;
  border-radius: 10000rem;
  height: 3.5rem;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toolbar.secondary {
  bottom: 4.3rem;
  height: 3rem;
}

.toolbar .tool {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.5rem;
  margin: 0;
}

.toolbar.secondary .tool {
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.5rem;
  margin: 0;
}

.toolbar svg {
  width: 100%;
  height: 100%;
  fill: #e0ddff40;
}

.toolbar .tool:hover svg {
  color: #ffffffd0;
  fill: #ffffffd0;
}

.toolbar .tool:active svg {
  color: #ffffff20;
  fill: #ffffff20;
}

.toolbar .tool.active svg {
  color: #ffffff;
  fill: #ffffff;
}

.toolbar .tool.fake svg {
  color: #e0ddff0a;
  fill: #e0ddff0a;
}