/*canvas.simulo-viewer.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}*/

/* Default CSS for viewer, some of which is used for features like `systemCursor`, and some of which is just for looks */
canvas.simulo-viewer {
    border: none;
    outline: none;
    /* This is overridden by the cursor class below, which is applied when `systemCursor` is true in SimuloViewer */
    cursor: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

canvas.simulo-viewer.cursor {
    cursor: default;
}